button {
	height: 1.88em;
	width: 5.5em;
	border-radius: 0.5em;
	font-family: Courier;
	color: #ffffff;
	font-size: 1.0em;
	background: #faaf3c;
	/*padding: 1% 3% 1% 3%; */
	display: block;
	margin: 0 auto;
	border: solid #ffaa00 1px;
	text-decoration: none;
}

table { 
	margin-top: 12em;
}

a, a:link, a:visited, a:hover, a:active { 
	text-decoration: none;
	color: black;
}

.fontp  { 
	font-family: arial;
	font-weight: bold;
}

