.h2tamfont  {
	line-height: 2.8em;
	margin-left: 0.8em;
	font-size:1.8em;
}

.pc70 {
	padding-left: 2%;
}

.bigText {
	font-size: 0.8em;
	margin-top: 3%;
}

.linha {
	height: 110px;
	margin-bottom: 20%;
}

.fonth3 {
	font-family: 'italic';
	font-size: 1.5em;
}


#local1 {
	background-image: url(../images/local1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100px;
}
	
#local2{
	background-image: url(../images/local2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100px;
}