#pin div{
	float:left;
}
#pin img{
	width:50%;
	height:50%;
}

#clock div{
	float:left;
}
#clock img{
	width:50%;
	height:50%;
}
.pc100 div{
	
	position:relative;
	float:left;
	width:50%;
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
#clock,#pin{
	padding:1%;
	margin:2%;
}
