					/*TELA PRINCIPAL*/

/* HEADER telaPrincipal */
#tituloPrincipal {
	font-size: 2.2em;
	text-align: center;
}
/* Fim HEADER */

/* Imagem principal */
.imagem {
	background-image: url(../images/principal.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 200px;
	margin: -6% -6% 6% -6%;
	position: relative;
}
#textoLegenda {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 2%;
	text-align: left;
	background: #000000;
	color: #ffffff;
	opacity: .7;
	height: 30%
}

#atletismo {
	background-image: url(../images/boxe.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100px;
	
}

#volei {
	background-image: url(../images/volei.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100px;
}

h3 {
	font-size: 1.2em;
	font-family: italic;
}

.bigText {
	font-size: 0.8em;
	margin-top: 3%;
}

.pc70 {
	padding-left: 2%;
}

.linha {
	height: 110px;
	margin-bottom: 5%;
}

					/* FIM TELA PRINCIPAL*/

					/*DETALHAMENTO EVENTO*/

h2 {
	font-size: 1.8em;
	margin-bottom: 10%;
}

.tituloEvento {
	font-size: 1.3em;
}

button {
  height: 40px;
  width: 150px;
  border-radius: 11px;
  font-family: Courier;
  color: #ffffff;
  font-size: 1.3em;
  background: #faaf3c;
  /*padding: 1% 3% 1% 3%;*/
  display: block;
  margin: 0 auto;
}

.linhaEvento {
	margin-bottom: 7%;
}

#titulo {
	text-align: center;
	margin-bottom: 5%;
}

p {
	font-size: 1.2em;
}

					/*FIM DETALHAMENTO EVENTO*/